._ {
    width: 80%;
    margin: 48px auto;
}
.table {
    :is(.new.row, .top .column):hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
    .line:first-child {
        border-top: 1px solid #eee;
    }
    .row {
        border-bottom: 1px solid #eee;
        height: 36px;
        display: flex;
        align-items: center;
        &:not(:has(.column)) {
            padding: 0 4px;
        }
    }
    .column {
        display: flex;
        align-items: center;
        height: 36px;
        padding: 0 4px;
        &:nth-child(1) {
            width: 35%;
        }
        &:nth-child(2) {
            width: 25%;
        }
        &:nth-child(3) {
            width: 30%;
        }
        &:nth-child(4) {
            justify-content: flex-end;
            align-items: center;
            svg {
                stroke: #ddd;
                transition: all .2s ease;
                cursor: pointer;
                &:hover {
                    stroke: #666;
                }
            }
            width: 10%;
        }
    }
    :is(.new, .top) p {
        color: #666;
    }
    p {
        margin: 0;
        font-size: 14px;
    }
}

.status {
    background-color: #f0f0f0;
    padding: 2px 8px;
    padding-left: 20px;
    border-radius: 100px;
    margin: 2px 0;
    position: relative;
    width: fit-content;
    &::before {
        position: absolute;
        content: "";
        left: 5px;
        top: 5px;
        width:10px;
        height: 10px;
        background-color: #aaa;
        border-radius: 100%;
    }
    p {
        font-size: 12px;
        color: #444;
        margin: 0;
    }
}
.status:has(svg) {
    display: flex;
    align-items: center;
    padding-right: 2px;
    &::before {
        top: 10px;
    }
    svg {
        cursor: pointer;
        stroke: #444;
        width: 18px;
        height: 18px;
        padding: 4px;
        margin: 0px;
        margin-left: 6px;
        transition: all .15s ease;
        &:hover {
            background-color: #00000010;
            border-radius: 100px;
        }
    }
}
.tag {
    margin: 2px 0;
    padding: 3px 8px;
    border-radius: 6px;
    margin-right: 8px;
    min-width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    p {
        color: #fff;
        font-size: 13px;
        margin: 0;
      }
}
.tag:has(svg) {
    padding-right: 2px;
    svg {
        cursor: pointer;
        stroke: #fff;
        width: 18px;
        height: 18px;
        padding: 2px;
        margin: 2px;
        margin-left: 6px;
        transition: all .15s ease;
        &:hover {
            background-color: #00000010;
            border-radius: 2px;
        }
    }
}